html, body {
    height: 100%;
    background: #f5f5f5;
    overflow-x: hidden;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-left {
    justify-content: flex-start;
}

.sub {
    font-size: 75%;
}

.flex-right {
    margin-left: auto;
}

#banner {
    display: flex;
    flex-direction: row;
    background: #1da1f2;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5%;
    color: white;
    font-weight: 600;
    font-size: 150%;
}

#content {
    display: flex;
    flex: 30;
    flex-direction: column;
    height: 100%;

    width: 100%;
}

.cont-container {
    display: flex;
    flex: 15;
    flex-direction: row;
}

#title-bar {
    padding: 0.5%;
    text-align: left;
}

#results-areas {
    display: flex;
    flex: 6;
    flex-direction: column;
    background: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}

#res-info {
    display: flex;
    flex: 3;
    border-top: 1px solid white;
    padding: 1%;
    flex-direction: column;
    text-align: left;
}

#res-info div {
    padding-bottom: 10px;
    font-size: 110%;
    font-weight: 600;
}

#config {
    display: flex;
    flex: 1;
    background: #f1f1f1;
    border-bottom: solid 1px #ccc;
    align-items: center;
    padding: 0.5%;
}

/** Trending area */
#trending-tags {
    background: white;
    padding: 1%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    position: relative;
}

.menu {
    cursor: pointer;
    color: #1da1f2;
    text-decoration: underline;
}

.menu:hover {
    color: black;
}

.trend {
    margin-bottom: 3px;
}

#map {

    margin-left: 20px;
}

#data {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

}

.dropdown {
    width: 90%;
}

.dropdown select {
    width: 100%;
}

.dropdown option,
.dropdown:after,
.dropdown::after,
.dropdown select {
    color: #fff;
}

:root .dropdown select,
:root .dropdown:after,
:root .dropdown::after {
    display: block;
    background: #aaaaaa;
}

:root .dropdown select,
:root .dropdown option {
    padding: 8px;
}

:root .dropdown {
    position: relative;
    display: inline-block;
    border: 0;
}

:root .dropdown::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 34px;
    text-align: center;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

:root .dropdown select {
    height: 34px;
    border: 0;
    vertical-align: middle;
    font: normal 12px/14px "Segoe UI", Arial, Helvetica, Sans-serif;
    outline: 0 none;

}

.hash-link {
    cursor: pointer;
    color: #1da1f2;

}

.hash-link:hover {
    color: black;

}

:root .dropdown option {
    background: #fff;
    color: #333;
    background: #add8e6;
}

.jvectormap-container {
    background: transparent !important;
}

/** Mobile */
@media screen and (max-width: 894px)and (orientation: portrait) {
    #data {
        flex-direction: column;
    }

    #results-areas {
        flex: 1;
    }
}

#config {
    align-content: center;
    flex: 0.5;
}

.search, .small-drop {
    display: flex;
}

.search {
    flex: 0;
    margin-right: 5px;
    height: 34px;
    display: flex;
    align-items: center;
}

.search input {
    height: 28px;
    padding-left: 5px;
}

.search button {
    color: white;
    background-color: #aaaaaa;
    height: 36px;
    border: solid 1px #f1f1f1;
}

.small-drop {
    flex: 1;
    max-width: 200px;
    margin-right: 5px;
}

.info {
    font-size: 90%;
    font-weight: 600;
}

.spin {
    position:absolute;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}