<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=0"/> <!--320-->
    <meta name="application-name" content="TwitterGG"/>
    <meta name="description" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <title>Twitter Sentiment Analysis</title>
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
</head>
<body>
<article id="container">
    <header id="banner">
        <div class="flex-left">Twitter Sentiment Analysis</div>
        <div class="flex-right sub">George Griffiths</div>
    </header>
    <section id="content">
        <div id="config">
            <div class="search"><input placeholder="Search">
                <button>Go</button>
            </div>
             <span id="algorithm-drop" class="dropdown small-drop">
                    <select name="algorithm">
                        <option name="linearsvc" value="linearsvc">Linear SVC (SVM)</option>
                        <option name="bayes" value="bayes">Naive Bayes Classifier</option>
                    </select>
            </span>
            <span style="flex: 1;display: flex;"><label class="info">Algorithm Testing Accuracy:<span class="accuracy"></span>%</label></span>
            <span id="menu-btn" class="menu">View Trending Tags</span>
        </div>
        <div class="cont-container">
            <div id="results-areas">
                <div id="title-bar">
                    <h3 id="search-title">Showing Results For: <span id="s-val"></span><span style="display:none;" class="spin">&#8635;</span></h3>
                </div>
                <div id="data">
                    <div id="graphs">
                        <svg id="pie-chart"></svg>
                    </div>
                    <div id="map" style="width: 520px; height: 400px"></div>
                </div>
                <div id="res-info">
                    <div class="t-tweets">
                        Total Tweets: <span>0</span>
                    </div>
                      <div class="p-tweets">
                        Positive Tweets: <span>0</span>
                    </div>
                      <div class="n-tweets">
                        Negative Tweets: <span>0</span>
                    </div>
                </div>
            </div>
            <div id="trending-tags">
                <span id="trending-drop" class="dropdown">
                    <select name="trending">
                        <option name="USA" value="23424977">United States</option>
                        <option name="UK" value="23424975">United Kingdom</option>
                    </select>
                </span>
                <h2>Trending</h2>
                <div id="tags"></div>
            </div>

        </div>
    </section>
</article>
<script>
    $(document).ready(function () {
        twitterApp.init();
        $(".dropdown").change(function () {
            $("option:selected").css({"background": "white"});
        });
    })
</script>
</body>
</html>