<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Sentiment Analysis</title>
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
</head>
<body>
<article id="container">
    <header id="banner">
        <div class="flex-left">Twitter Sentiment Analysis</div>
        <div class="flex-right sub">George Griffiths</div>
    </header>
    <section id="content">
        <div id="config">
            <div class=search><input placeholder="Search">
                <button>Go</button>
            </div>
        </div>
        <div class="cont-container">
            <div id="results-areas">
                <div id="title-bar">
                    <h3 id="search-title">Showing Results For: </h3>
                </div>
                <div id="graphs">
                    <svg id="pie-chart"></svg>
                </div>
                <div id="data"></div>
            </div>
            <div id="trending-tags">
                <h2>Trending</h2>
            </div>

        </div>
    </section>
</article>
<script>
    $(document).ready(function () {
        twitterApp.init();
    })
</script>
</body>
</html>